<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<div class="alert-body">
      <div class="alert info hide">
         <span class="fas fa-info-circle"></span>
         <span class="msg">{{message}}</span>
         <div class="close-btn">
            <span class="fas fa-times"></span>
         </div>
      </div>
</div>

<script src="{{asset('js/alert.js?t= <?8>')}}"></script>