<section id="collection" class="section collection">
        <div class="collection__container" >
            {% if categories == null %}
                <div class="collection__box">
                    <div class="img__container">
                        <img class="collection_02" src="" alt="">
                    </div>
                    <div class="collection__content">
                        <div class="collection__data">
                            <span>Exclusivité TechShop</span>
                            <h1 class=" text-uppercase"> Lorem, ipsum dolor</h1>
                            <a href="{{path("product")}}">ACHETER MAINTENANT</a>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for category in categories %}
                <div class="collection__box">
                    <div class="img__container">
                        <img class="collection_02" src="/uploads/{{category.illustration}}" alt="">
                    </div>
                    <div class="collection__content">
                        <div class="collection__data">
                            <span>Exclusivité TechShop</span>
                            <h1 class=" text-uppercase"> {{category.name}} </h1>
                            <a href="{{path("product")}}">ACHETER MAINTENANT</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
</section>