<!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer-top__box">
           <h3>EXTRAS</h3>
          <a href="#">Code de promos</a>
          <a href="#">Rendez-vous</a>
          <a href="#">Essai gratuit</a>
          <a href="#">Formations</a>
          <a href="#">Emploies</a>
        </div> 
        <div class="footer-top__box">
          <h3>INFORMATIONS</h3>
          <a href="#">Qui sommes nous ?</a>
          <a href="#">Notre Politique</a>
          <a href="#">Termes & Conditions</a>
          <a href="#">Contact</a>
          <a href="#">Loclistation</a>
        </div>
        <div class="footer-top__box">
          <h3>MON COMPTE</h3>
          <a href="#">Gerer mon compte</a>
          <a href="#">Mes commandes</a>
          <a href="#">Liste des souhaits</a>
          <a href="#">Newsletter</a>
          <a href="#">Remboursement</a>
        </div>
        <div class="footer-top__box">
          <h3>NOUS CONTACTER</h3>
          <div>
            <span>
              <svg>
                <use xlink:href="{{asset('images/sprite.svg#icon-location')}} "></use>
              </svg>
            </span>
            Lissasfa,ElKhouzama3,Imm3,App5
          </div>
          <div>
            <span>
              <svg>
                <use xlink:href="{{asset('images/sprite.svg#icon-envelop')}} "></use>
              </svg>
            </span>
            aymenouallaf2002@gmail.com
          </div>
          <div>
            <span>
              <svg>
                <use xlink:href="{{asset('images/sprite.svg#icon-phone')}} "></use>
              </svg>
            </span>
            0614874083
          </div>
          <div>
            <span>
              <svg>
                <use xlink:href="{{asset('images/sprite.svg#icon-paperplane')}} "></use>
              </svg>
            </span>
            Casablanca,Maroc
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer-bottom__box">
        aaaaaaaaaaaaaa
      </div>
      <div class="footer-bottom__box">
        vvvvvvvvaaaaaaaaaaaa
      </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->