 <!-- NewsLetter -->
    <section class="section newsletter" id="contact">
      <div class="container">
        <div class="newsletter__content">
          <div class="newsletter__data">
            <h3>Abonnez vous à nos magazines en ligne gratuitement !</h3>
            <p>Voous receverez un code de promos de 20% lors de votre abonnement ,<br>
             veuillez donner votre adresse email et on s'occupe du reste ;)</p>
          </div>
          <form method="POST">
            <input type="email" name="email" placeholder="Entrer votre email" class="newsletter__email">
            <input type="submit" name="submitEmail" class="newsletter__link" value="S'abonner">
          </form>
        </div>
      </div>
    </section>