<!-- Facility Section -->
<section class="facility__section section" id="facility">
    <div class="container">
        <div class="facility__contianer" data-aos="fade-up" data-aos-duration="1200">
            <div class="facility__box">
                <div class="facility-img__container">
                    <svg>
              <use xlink:href="images/sprite.svg#icon-airplane"></use>
            </svg>
                </div>
                <p>LIVRAION PARTOUT AU MAROC</p>
            </div>

            <div class="facility__box">
                <div class="facility-img__container">
                    <svg>
              <use xlink:href="images/sprite.svg#icon-credit-card-alt"></use>
            </svg>
                </div>
                <p>SATISFAIT OU REMBOURSE</p>
            </div>

            <div class="facility__box">
                <div class="facility-img__container">
                    <svg>
              <use xlink:href="images/sprite.svg#icon-credit-card"></use>
            </svg>
                </div>
                <p>PAYER CASH A LA LIVRAION</p>
            </div>

            <div class="facility__box">
                <div class="facility-img__container">
                    <svg>
              <use xlink:href="images/sprite.svg#icon-headphones"></use>
            </svg>
                </div>
                <p>SUPPORT EN LIGNE 24/7</p>
            </div>
        </div>
    </div>
</section>
