@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

.formulaire-sty {
    /* height: 100vh; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: var(--primaryColor); */
}

.formulaire-sty .container {
    /* margin: auto; */
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}

.formulaire-sty .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.formulaire-sty .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background-color: #EB0028;
}

.formulaire-sty .content .user-details {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.formulaire-sty .user-details .input-box {
    margin-bottom: 15px;
    /* width: calc(100% / 2 - 20px);
     */
    width: 100%;
}

.formulaire-sty .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.formulaire-sty .user-details .input-box .place {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.formulaire-sty .user-details .input-box input:invalid {
    border-color: var(--orange);
}

.formulaire-sty .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

.formulaire-sty .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.formulaire-sty .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.formulaire-sty .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

.formulaire-sty #dot-1:checked~.category label .one,
.formulaire-sty #dot-2:checked~.category label .two,
.formulaire-sty #dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

.formulaire-sty input[type="radio"] {
    display: none;
}

.formulaire-sty .button {
    /* display: flex;
    justify-content: center; */
    height: 4rem;
    width: 100%;
    margin: 25px 0
}

.formulaire-sty .button .btn {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid black;
}

.formulaire-sty .button .btn:hover {
    /* transform: scale(0.99); */
    background-color: #EB0028;
    color: #fff;
    border: 1px solid #fff;
}

.formulaire-sty .areaPlace {
    height: 22rem;
    width: 100%;
    padding: 1rem;
    font-size: 16px;
}


@media(max-width: 584px) {
    .formulaire-sty .container {
        max-width: 100%;
        height: 100%;
    }
    .formulaire-sty .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    .formulaire-sty .category {
        width: 100%;
    }
    .formulaire-sty .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .formulaire-sty .container .content .category {
        flex-direction: column;
    }
}


/* FORM ERRORS */

.formulaire-sty .form-errors li {
    font-size: 1.4rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    color: var(--orange);
}