/* ProductPage */
/*
======================
Category Center
======================
*/
    /* .products-container{
    max-width: 167rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    display: grid;
    grid-template-columns: auto;
}
.products-container .section {
    padding: 3rem 0;
    grid-column: 5;
} */
    
    .products-container .category_center {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem 2rem;
    }
    
    @media only screen and (max-width: 999px) {
        .products-container .category_center {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    
    @media only screen and (max-width: 568px) {
        .products-container .category_center {
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem 1rem;
        }
        .products-container .category__products .product__header {
            height: 10rem;
        }
        .products-container .category__products .product__header img {
            object-fit: contain;
        }
    }
    
    .products-container #categories label {
        font-size: 1.9rem;
        font-weight: inherit;
        opacity: 0.6;
        padding-left: 0.5rem;
        transition: opacity 0.3s ease-in-out;
        margin: 0 50px 0 0
    }
    /* il faut que Expanded : false
    .products-container #categories {
            /* padding: 1rem; 
        font-size: 1.5rem;
        width: 21rem;
        border-radius: 1rem;
    }
    .products-container #categories option {
        padding: 0.5rem;
    }
    */
    .products-container #categories label:hover {
        opacity: 1;
    }
    
    .products-container #categories input {
        opacity: 1;
    }
    
    .products-container #categories input:checked+label {
        opacity: 1;
    }
    
    .products-container .filter_search {
        font-size: 1.4rem;
        display: inline-block;
        width: 37rem;
        padding: 1.6rem;
        background-color: #fff;
        border: none;
        text-indent: 1rem;
    }
    
    .products-container .section_title form div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .products-container .section_title {
        width: 100%;
    }
    
    .products-container .title__container {
        width: 100%
    }
    
    .products-container button.btn {
        /* display: flex;
    justify-content: center; */
        height: 4rem;
        width: 100%;
        margin: 25px 0;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: black;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: #fff;
        padding: 1rem;
        border: 1px solid black;
    }
    
    .products-container button.btn:hover {
        /* transform: scale(0.99); */
        background-color: #EB0028;
        color: #fff;
        border: 1px solid #fff;
    }
    
    .products-container .section_title_resp {
        display: none;
    }

    .products-container .pagination-div {
        display: flex;
        align-items: center;
        padding: 3rem;
        justify-content: center;
    }
    .products-container .pagination {
      display: inline-block;
    }
    
    .products-container .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: all .3s;
      border: 1px solid #ddd;
    }
    
    .products-container .pagination a.active {
        background-color: var(--orange);
        color: white;
        border: 1px solid var(--orange);
    }
    
    .products-container .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
    
    @media screen and (max-width: 768px) {
        .products-container .filter_search {
            width: 17rem;
            padding: 1.6rem 0rem;
        }
    }
    
    @media screen and (max-width: 425px) {
        .products-container .place {
            height: 45px;
            width: 100%;
            outline: none;
            font-size: 16px;
            border-radius: 5px;
            padding-left: 15px;
            border: 1px solid #ccc;
            border-bottom-width: 2px;
            transition: all 0.3s ease;
        }
        .products-container .categorie_choice {
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
    }
    
    @media screen and (max-width: 425px) {
        .products-container .section_title_resp {
            display: block;
        }
        .products-container .section_title {
            display: none;
        }
        .products-container #categories label {
            margin: 0 8px 0 0;
        }
    }

    @media screen and (max-width: 320px) {
        .products-container .pagination-div {
            padding: 3rem 1rem;
        }
    }

    /* Product-Show Page */

    section.product-show .select__option {
        display: flex;
        align-items: baseline;
    }

    section.product-show .product-details__btn a {
        background-color: var(--grey3);
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.product-show .product-details__btn a:hover {
        background-color: var(--orange);
    }

