/* ALERT */

.alert-body {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.alert {
    padding: 20px 40px;
    max-width: 73rem;
    position: absolute;
    position: fixed;
    right: 0;
    top: 10px;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}

.alert.showAlert {
    opacity: 1;
    padding: 2rem 9rem;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
    position: fixed;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1000;
    }
}

.alert .fas {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 18px;
    cursor: pointer;
    height: 100%;
    width: 5rem;
}

.alert .close-btn .fas {
    font-size: 22px;
    line-height: 40px;
}

@media screen and (max-width: 760px) {
    .alert {
        max-width: 61rem;
    }
}

@media screen and (max-width: 760px) {
    .alert {
        max-width: 61rem;
    }
}

@media screen and (max-width: 490px) {
    .alert {
        max-width: 61rem;
    }
    .alert.showAlert {
        opacity: 1;
        text-align: center;
        padding: 2rem 5rem;
        pointer-events: auto;
    }
}


/* WARNING */

.warning {
    background: #ffdb9b;
    border-left: 8px solid #ffa502;
}

.alert .fa-exclamation-circle {
    color: #ce8500;
}

.warning .msg {
    color: #ce8500;
}

.warning .close-btn {
    background: #ffd080;
}

.warning .close-btn:hover {
    background: #ffc766;
}

.warning .close-btn .fas {
    color: #ce8500;
}


/* ERREUR */

.erreur {
    background: #ffdbdb;
    border-left: 8px solid #ff4040;
}

.alert .fa-minus-circle {
    color: #ff4040;
}

.erreur .msg {
    color: #ff6060;
}

.erreur .close-btn {
    background: #ffb7b7;
}

.erreur .close-btn:hover {
    background: #fd9696;
}

.erreur .close-btn .fas {
    color: #ff4040;
}


/* INFO */

.info {
    background: #ceebff;
    border-left: 8px solid #40afff;
}

.alert .fa-info-circle {
    color: #40afff;
}

.info .msg {
    color: #4cb4ff;
}

.info .close-btn {
    background: #b0deff;
}

.info .close-btn:hover {
    background: #84cbff;
}

.info .close-btn .fas {
    color: #40afff;
}


/* SUCCESS */

.success-alert {
    background: #c3e9c3;
    border-left: 8px solid #27bc24;
}

.alert .fa-check-circle {
    color: #27bc24;
}

.success-alert .msg {
    color: #2faf2c;
}

.success-alert .close-btn {
    background: #87e785;
}

.success-alert .close-btn:hover {
    background: #89d788;
}

.success-alert .close-btn .fas {
    color: #27bc24;
}