section.success .container {
    padding: 4rem 18rem;
}

section.success .thanks-purchase {
    align-items: baseline;
}

section.success .account-title {
    width: 100%;
}

section.success .cred-btn {
    float: right;
    border: 1px solid green;
    padding: 1rem;
    background-color: green;
    color: white;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    transition: all 0.5s;
}

section.success .cred-btn-resp {
    display: none;
}

section.success .cred-btn:hover {
    background-color: white;
    color: green;
}

section.success .account-title h1 {
    font-size: 3rem;
}

section.success table th {
    width: 30rem;
}

section.success table td {
    width: 71rem;
}

section.success .resume-table-cred {
    display: block;
}

@media screen and (max-width: 1079px) {
    section.success .container {
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 589px) {
    section.success .account-title h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    section.success .thanks-purchase {
        align-items: center;
    }
    .section.success .resume-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.success .cred-btn {
        display: none;
    }
    section.success .cred-btn-div {
        display: flex;
        justify-content: center;
    }
    section.success .cred-btn-resp {
        width: 13rem;
        margin-top: 4rem;
        text-align: center;
        border: 1px solid green;
        padding: 1rem;
        background-color: green;
        color: white;
        border-radius: 20px;
        display: block;
        transition: all 0.5s;
    }
}

@media screen and (max-width: 389px) {
    section.success table th {
        padding: 1rem;
        letter-spacing: 0px;
    }
    section.success table td {
        font-size: 1.3rem;
    }
}