{% extends 'base.html.twig' %}

{% block title %}Mes commandes - TechShop{% endblock title %}

{% block content %}
<section class="orders">
    <div class="account-container">
    <div class="account-title"><h1>Mon compte</h1></div>
    <div class="account-bjr">
        <h4>Bienvenue <strong>{{app.user.pseudoname}}</strong>, dans la page de gestion de vos commandes,</h4>
    </div>
        <section class="success">
            <section class="resume">
            <div class="resume-div">
                <div class="resume-table">
                {% if orders %}
                    <table class="resumeTable">
                        <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Statut</th>
                                <th>Passée le</th>
                                <th>Payée</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td><strong>{{order.reference}} </strong></td>
                                    <td>En cours de livraison</td>
                                    <td>{{order.createdAt}} </td>
                                    <td><strong>NON</strong></td>
                                    <td>{{(order.total / 100)|number_format(2,',','.')}} DH</td>
                                    <td><a class="voir-commande" href="">Voir ma commande</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h2 class="no-orders" style="">Vous n'avez aucune commande pour le moment!</h2>        
                {% endif %}
                </div>
                <div class="resume-table-responsive">
                {% if orders %}
                    <table class="resumeTable">
                        <tbody>
                            <tr>
                                <th>Reference</th>
                                <td><strong>290329-7T31368123</strong> </td>
                            </tr>
                            <tr>
                                <th>Statut</th>
                                <td>En cours de livraison</td>
                            </tr>
                            <tr>
                                <th>Passée le</th>
                                <td>24/10/2021</td>
                            </tr>
                            <tr>
                                <th>Payée</th>
                                <td><strong>Non</strong></td>
                            </tr>
                            <tr>
                                <th>Passée le</th>
                                <td>2049 DH</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td><a class="voir-commande" href="">Voir ma commande</a></td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <h2 class="no-orders">Vous n'avez aucune commande pour le moment!</h2>        
                {% endif %}
                </div>
            </div>
            </section>
        </section>
    </div>
</section>

{% endblock content %}
{% block footer %}{% endblock footer %}
